@import "tailwindcss";

@keyframes animate-cat {
  from {
    translate: -50px 0; 
    /* opacity: 0;
    filter: blur(15px); */
  }
  to {
    translate: 0 0px;
    /* filter: blur(0px);
    opacity: 1; */
  }
}

/* The element to apply the animation to */
.animate-list {
  animation-name: animate-cat;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
}